.cart_container{
	margin: 1rem 0;
}
.cart_title{
	text-align: center;
	width: 7rem;
	border-bottom: 2px solid var(--color-primary-xl);
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 0.3rem;
}
.cart_list{
	margin: 2.5vh 1rem;
	min-height: 62vh;
	max-height: 62vh;
	background-color: var(--color-bg-l);
	border-radius: 15px;
	overflow-y: scroll;
	box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px -0px 20px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.6);
	padding: 1rem 0;
}
.cart_btns{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}
.cart_buyBtn,
.cart_clearBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	height: 2.1rem;
	border-radius: 15px;
	border: none;
	background-color: var(--color-secondary-l);
	box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px -0px 20px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.6);
	width: 90%;
	border: 2px solid var(--color-secondary-l);
}
.cart_clearBtn{
	background-color: transparent;
	color: var(--color-secondary-l);
}

.cart_item{
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-secondary-xl);
	margin: 0 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.cart_item img{
	width: 6rem;
	margin-right: 1rem;
}
.cart_item_divSpan{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.cart_item_divSpan span:first-child{
	font-size: 1.1rem;
}
.cart_item_divSpan span{
	text-align: left;
	margin-bottom: 0.7rem;
}
.cart_item_divSpan span:nth-child(2){
	color: var(--color-secondary-xl);
	margin-bottom: 0rem;
}
.cart_item_divSpan button{
	border: none;
	height: 1.5rem;
	margin-left: auto;
	margin-right: 0;
	width: 5rem;
	background-color: var(--color-primary-xl);
	color: var(--color-text);
	border-radius: 10px;
}
.cart_total{
	margin-left: 2rem;
	margin-right: 2rem;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--color-bg-l);
	padding-bottom: 0.3rem;
}
.cart_total span{
	text-align: right;
}