.categoriesList{
	margin: 1.5rem 1rem;
}
.categoriesList_title{
	padding-bottom: 0.5rem;
}
.categoriesList_list{
	display: flex;
	overflow-y: hidden;
	scroll-behavior: smooth;
}
.categoriesList_list::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 3px;    /* Tamaño del scroll en horizontal */
}
.categoriesList_list::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
    transition: background-color 0.5s;
}
.categoriesList_list::-webkit-scrollbar-thumb:active {
    background-color: #888;
}
.categoriesList_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	left: 70%;
	border: none;
	outline: none;
	width: 1.3rem;
	padding: 0.2rem 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--color-secondary-l);
	font-size: 1.3rem;
}