:root{
  --color-primary-xo: #480f6e;
  --color-primary-o: #581982;
  --color-primary: #7027A0;
  --color-primary-l: #833bb3;
  --color-primary-xl: #964fc4;

  --color-secondary-xo: #5041b5;
  --color-secondary-o: #6253c9;
  --color-secondary: #7868e6;
  --color-secondary-l: #8f81f0;
  --color-secondary-xl: #a499f2;

  --color-bg: #25223d;
  --color-bg-l: #363157;

  --font-title: 'Birthstone', cursive;
  --font-text: 'Oswald', sans-serif;

  --color-text: #f4f2ff;
  --color-text-s: #25223d;
  --color-text-s-l: #4b466e;
  --color-text-s-xl: #746f96;

}
*{
  padding: 0;
  margin: 0;
}
html, body{
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-text);
}
#root{
  margin-bottom: 5rem;
}

body::-webkit-scrollbar {
    width: 3px;     /* Tamaño del scroll en vertical */
    height: 3px;    /* Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
    transition: background-color 0.5s;
}
body::-webkit-scrollbar-thumb:active {
    background-color: #888;
}